html, body {
    height: 100%;
    background: linear-gradient(to right, #1B1F24, #35424A);
}

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navbar{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 120px;
    gap: 64px;
    position: fixed; 
    width: 100%;
    top: 0; 
    z-index: 100; 
    background: linear-gradient(to right, #1B1F24, #35424A); 
    padding: 0 1rem;
}

#hamburger-button {
    display: none;
}

#hamburger-menu {
    display: none;
}

.hamburger-item {
    display: none;
}

@keyframes fade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropdown{
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.will-logo {
    width: 180px;
    height: auto;
}

.right-text {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding-bottom: 3px;
}

.right-text:hover {
    border-bottom: 3px solid #A8FA50;
}

.section-one {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 5rem;
    font-weight: 800;
    color: white;
}

.image-container {
    justify-content: flex-end;
}


#top-photo {
    width: 700px;
}

.section-title {
    margin-top: 2rem;
    font-size: 64px;
}

.section-description {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    color: white;
    width: 450px;
}

.green {
    color: #A8FA50;
}

.section-image {
    margin-top: -0.5rem;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 625px;
    border-top: 2px solid #35424A;
    border-right: 2px solid #35424A;
    border-bottom: 2px solid #35424A;
    background-color: #C3F0C8;
    transition: background-color 0.3s ease;
}

.section-two {
    display: flex;
}

.section-image:hover {
    background-color: #12679c;
    color: #A8FA50;
}

#will-photo {
    margin-top: -4rem;
    width: 390px;
}

.founder-title {
    display: flex;
    justify-content: center;
    color: #234400;
    font-size: 18px;
    font-weight: 600;
}

.founder-description {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.section-image:hover .founder-title {
    color: white;
}

.section-image:hover .founder-description {
    color: #A8FA50;
}

.section-song {
    margin-top: -0.5rem;
    width: 714px;
    background-color: black;
    border-bottom: 2px solid #35424A;
    transition: background-color 0.3s ease-in;
}

.section-song:hover {
    background-color: white;
}

.song-description {
    color: white;
    font-size: 54px;
    display: flex;
    font-weight: 700;
    margin: 12rem 0 0 9rem;
}

.section-song:hover .song-description, .section-song:hover #button-start-link{
    color: black;
}

.button-start {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 9rem;
    width: 10rem;
    border: 2px solid #3e7900;
    padding: 9px;
    border-radius: 22px;
}

#button-start-link {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.button-start:hover {
    background-color: #3e7900;
}

.button-start:hover #button-start-link{
    color: black;
}

.section-three {
    display: flex;
}

.section-three-title {
    color: white;
    font-weight: 500;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 25%;
    height: 350px;
    transition: background-color 0.3s ease-out;
}

.year-title {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.year-description {
    padding: 0 1rem 0 1rem;
    font-size: 14px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-three-title:hover{
    background-color: #12679c;
    color: black;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1F24;
    padding: 1rem 8rem 3rem 5rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.footer-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#logo{  
    width: 250px;
}

.footer-content{
    display: flex;
    padding: 2rem 4rem 2rem 4rem;
    justify-content: center;
    gap: 12rem;
    margin-bottom: 1.8rem;
}

.desc-box{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.desc-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.desc-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.desc-info{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.desc-info a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgb(138, 138, 138);
}

.desc-info a:hover{
    color: white;
}

.play-logo {
    width: 8.3rem;
}

.app-logo {
    width: 10rem;
}

.desc-info p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}


.social-logo {
    width: 24px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.copyright p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

/* Responsive 1200px*/
@media only screen and (max-width: 1200px) {
    .navbar {
        justify-content: space-around;
    }

    .navbar-title {
        display: none;
    }

    #hamburger-button {
        display: flex;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    #hamburger-button #hamburger-img{
        width: 70px;
    }

    #hamburger-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #35424A;
        height: 300px;
        gap: 26px;
        animation: dropdown 200ms ease-in-out forwards;
        transform-origin: top center;
    }

    .hamburger-item {
        display: flex;
    }

    .hamburger-item a{
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 24px;
        font-weight: 600;
        display: flex;
    }

    .hamburger-item a:hover{
        border-bottom: 2px solid #A8FA50;
    }

    #top-photo {
        width: 600px;
    }
}

/* Responsive 768px (tablets) */
@media (max-width: 768px) {
    .section-one {
        margin-left:  0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-description p {
        margin-bottom: 4rem;
    }
    
    #will-photo {
        width: 300px;
    }

    .song-description {
        margin: 6rem 6rem 3rem 6rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .button-start {
        margin: 0rem 0rem 0rem 7rem;
    }
    
    .section-three-title {
        height: 450px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

}

/* Responsive 480px (mobile devices) */
@media only screen and (max-width: 480px) {
    #top-photo {
        width: 400px;
    }

    .section-two {
        flex-direction: column;
        align-items: center;
    }

    .section-image {
        width: 478px;
    }

    .section-song {
        width: 478px;
    }

    .button-start {
        display: flex;
        justify-content: center;
        margin-left: 9rem;
        margin-bottom: 4rem;
    }

    .section-three {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-three-title {
        width: calc(50% - 2px);
        height: auto;
    }

    .year-title {
        margin-top: 2rem;
    }

    .year-description {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
